$breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 780px,
    lg: 990px,
    xl: 1280px
);

@mixin breake($size){
    @media (min-width: map-get($breakpoints, $size)) {
        @content
    }
};

.text{
    @include break(1440px){
        font-size: 25px;
    }
    @include break(989px){
        font-size: 16px;
    }
}